#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
    &kp C_PWR &kp Q   &kp W   &kp E
    &bt BT_CLR &kp A   &kp S   &kp D
    &kp LSHIFT &kp Z   &kp X   &kp C
    &kp F   &kp RET &kp SPACE
            >;
        };
    };
};
